<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index.html"
>

<head>
    <meta charset="UTF-8">
    <title>Medcin</title>
</head>
<div layout:fragment="content">
    <div class="row">
        <div class="card">
            <div class="card-header">Ajouter un nouveau medcin</div>
            <div class="card-body">
                <form th:action="@{/saveMedcin}" method="post">
                    <input type="hidden" name="id" th:value="${medcin.id}">
                    <div class="mb-2">
                        <label class="form-label">Nom</label>
                        <input type="text" name="nom" class="form-control" th:value="${medcin.nom}">
                        <label class="form-label">Age</label>
                        <input type="text" name="age" class="form-control" th:value="${medcin.age}">
                        <button class="btn btn-dark">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</html>